;; Analyzed by ClojureScript 1.7.170
{:name hipo.fast, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {emptyv? {:protocol-inline nil, :meta {:file "/home/mchadwick/projects/dynomics/public/js/hipo/fast.cljc", :line 3, :column 7, :end-line 3, :end-column 14, :arglists (quote ([v]))}, :name hipo.fast/emptyv?, :variadic false, :file "public/js/hipo/fast.cljc", :end-column 14, :method-params ([v]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 1, :fn-var true, :arglists (quote ([v]))}, conjs! {:protocol-inline nil, :meta {:file "/home/mchadwick/projects/dynomics/public/js/hipo/fast.cljc", :line 8, :column 7, :end-line 8, :end-column 13, :arglists (quote ([v s]))}, :name hipo.fast/conjs!, :variadic false, :file "public/js/hipo/fast.cljc", :end-column 13, :method-params ([v s]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 8, :end-line 8, :max-fixed-arity 2, :fn-var true, :arglists (quote ([v s]))}}}